<h2>ENROL IN HOGWARTS</h2>

<div class="container">
  <form action="/new" method="POST">

    <div class="data-field">
      <label for="firstName">First Name:</label>
      <input type="text" name="first_name" id="firstName">
    </div>

    <div class="data-field">
      <label for="lastName">Surname:</label>
      <input type="text" name="last_name" id="lastName">
    </div>

    <div class="data-field">
      <label for="houseSelect">Choose House:</label>
      <select name="house" id="houseSelect">
        <option value="Griffindor">Griffindor</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
        <option value="Ravenclaw">Ravenclaw</option>
      </select>
    </div>

    <div class="data-field">
      <label for="age">Age:</label>
      <input type="number" name="age" id="age">
    </div>

    <div class="container">
      <input type="submit" value="Enrol">
    </div>

</form>
</div>
