<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts Student Database</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/list">All Students</a></li>
        <li><a href="/enrol">Enrol</a></li>
        <li>
          <form action="/find_student" method="get">
              <label for="find">Find Student(ID):</label>
              <input type="number" name="id" id="id">
              <input type="submit" value="Search">
          </form>
        </li>
      </ul>
    </nav>

  <%= yield %>

  </body>
</html>
