<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts Student Database</title>
      <link rel="stylesheet" href="./styles.css">
      <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700|Princess+Sofia" rel="stylesheet">
  </head>
  <style>
  body {
    background-image: url("hpbackground.jpg");
  }
  </style>
  <body>
    <h1>Welcome to Hogwarts</h1>
    <p>Welcome to the Hogwarts Student Database.<br>
      Please choose an option from the menu</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/list">All Students</a></li>
        <li><a href="/list_house">All Houses</a></li>
        <li><a href="/enrol">Enrol</a></li>
        <li>
          <form action="/find_student" method="get">
              <label for="find">Find Student(ID):</label>
              <input type="number" name="id" id="id">
              <input type="submit" value="Search">
          </form>
        </li>
        <li>
          <form action="/find_house" method="get">
              <label for="find">Find House(ID):</label>
              <input type="number" name="id" id="id">
              <input type="submit" value="Search">
          </form>
        </li>
      </ul>
    </nav>

  <%= yield %>

  </body>
</html>
