<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts Student Database</title>
  </head>
  <body>

    <nav>
      <ul>
        <li>Search</li>
        <li>Enrol</li>
      </ul>
    </nav>

  <%= yield %>
  </body>
</html>
