<h2>ALL HOUSES OF HOGWARTS</h2>

<div class="houses">
<% @list.each do |house| %>
<div class='order'>
  <p>Name: <%= house.name() %></p>
  <p>Logo: <img src="<%= house.logo() %>" alt="house badge"> </p>
</div>
<% end %>
</div>
