<h2>Search Results:</h2>

<div class="student-info">
  <p>First Name: <%= @student.first_name() %> </p>
  <p>Last Name: <%= @student.last_name() %> </p>
  <p>House: <%= @student.house() %> </p>
  <p>Age: <%= @student.age() %> </p>
</div>
